body {
 background-color: #2C2C2C;
 box-sizing: border-box;
 width: 100vw;
 height: 100vh;
}

.container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.background {
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  background-image: url('/src/components/assets/sam-schooler-E9aetBe2w40-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  opacity: 0.8;
}

.col-2 {
  width: 25%;
  height: 100%;
  border-right: 1px solid #e8e4e453;
}

.col-8 {
  width: 75%;
  height: 100%;
}

/* @media screen and (max-width: 760px) {
 
} */
